/* Auth.css */
.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh; /* Ensure content covers the viewport height */
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    height: 60%;
    margin-top: 50px;
}



.table-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 800px;
    
}

.auth-table {
    width: 100%;
    border-collapse: collapse;
    
}

.auth-table th,
.auth-table td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.auth-table th {
    background-color: #2a5298;
    color: #ffffff;
}

.auth-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.auth-table tr:hover {
    background-color: #f1f1f1;
}

.approve-button {
    background-color: #28a745;
    color: #ffffff;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.approve-button:hover {
    background-color: #218838;
}

.auth-container h2 {
    margin-bottom: 10px; /* Adjust the value to increase or decrease the space */
    font-size: 30px;
    color: #333; /* Optional: Change the color if needed */
}
 
