.profile-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    background-color: #f0f0f0; /* Light gray background */
    padding: 20px; /* Add padding for spacing */
}

.profile-page h1 {
    color: #333; /* Dark gray text color */
    font-size: 36px;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 20px; /* Add some spacing below the heading */
}

.profile-photo-container {
    margin-bottom: 20px; /* Add spacing below the profile photo */
}

.profile-photo {
    width: 150px; /* Adjust size of the profile photo */
    height: 150px;
    border-radius: 50%; /* Create circular shape */
    background-color: #524c93; /* Light gray background for placeholder */
    overflow: hidden; /* Hide any overflow */
}

.profile-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Maintain aspect ratio and cover container */
}

.profile-details {
    background-color: #a799e0; /* White background for details section */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Light shadow effect */
    width: 400px; /* Adjust width as needed */
    font-size: 18px;
    text-align: left; /* Align text to the left */
}

.profile-details p {
    margin-bottom: 10px; /* Add spacing between each detail line */
}
