.search-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
    color: #1e3c72;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
    z-index: 1;

}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
  
}

.input_wrapper {
    position: relative;
    width: 400px;
    margin-top: 50px;
    flex-wrap: wrap;
}

.input_box {
    width: 400px;
    height: 45px;
    border-radius: 8px;
    padding-left: 15px;
    font-size: 18px;
    border: 2px solid #1e3c72;
    background-color: #f0f8ff;

}

.search_button {
    position: absolute;
    right: 0px;
    top: 50%;
    width: 50px;
    height: 45px;
    border: none;
    border-radius:8px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #6bb3e0;
    transform: translateY(-50%);
}

.search_button:hover {
    background-color: #2f4d84; 
}

.search_img {
    width: 20px; 
    height: 20px;
}

.form-container {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    background-color: #68aae4;
    color: #000000;
    border-radius: 8px;
    position: relative; 
    margin-top: 15px;
    

}

.form-title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.form-section {
    border:  1px solid #87d094;
    border-radius: 8px;
    background-color: #b8d7be; 
    box-shadow:0 2px 4px rgba(0, 0, 0, 0.1); 
    padding: 1.5rem;
    flex:  1 1 calc(25% - 1rem);
    font-size: 1rem;
    color: #333;
    margin: 0.5rem;
}

.form-section:nth-child(4n) {
    margin-right: 0; 
}

.form-section h2 {
    font-size: 18px;
    border-bottom: 1px solid #074165;
    padding-bottom: 5px;
}

.form-group {
    margin-bottom: 1.25rem;
}

.form-group label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    color: #4682B4;
}

.form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #87CEFA; 
    border-radius: 4px;
    background-color: #f0f8ff; 
    
}
.submit_button {
    position: absolute;
    right: 20px; 
    bottom: 20px; 
    width: 120px;
    height: 50px; 
    border: none;
    border-radius: 8px;
    background-color: #87CEFA; 
    color: #ffffff; 
    font-size: 18px; 
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.submit_button:hover {
    background-color: #4682B4; 
}
.button-container {
    display: flex;
    justify-content: flex-start;
    gap: 10px; /* Adjust the gap as needed to move buttons closer */
    margin-top: 20px; /* Add some space above the buttons if necessary */
}
.delete_button {
    margin-left:1050px; /* Adjust the margin to overlap the buttons slightly */
}

.delete_button,
.submit_button {
    width: 120px;
    height: 50px;
    border: none;
    border-radius: 8px;
    background-color: #87CEFA;
    color: #ffffff;
    font-size: 18px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
}
.submit_button:last-child {
    margin-right: 0; /* Remove margin from the last button */
}

.submit_button:hover,
.delete_button:hover {
    background-color: #4682B4;
}
.form-control {
    font-weight: 400 !important;
}
/* Increase hover effect with a light blue color */
.table-row-hover:hover {
    background-color: #5bb2be; /* Light blue hover color */
  }
  
  /* Adjusting the container's top margin and centering the table */
  .container {
    margin-top: 5500px;
    padding-top: 70px;
    max-width: 1500px;

  }
  
  .table-responsive {
    max-width: 100%;
    overflow-x: auto;
  }
  