.search-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-top: 80px;
    margin-bottom: 30px; 
}

.input_wrapper {
    position: relative;
    width: 50%;
}

.input_box {
    width: 100%;
    height: 45px;
    border-radius: 25px;
    padding-left: 15px;
    box-sizing: border-box;
    font-size: 18px;
    border: 2px solid #87CEFA;
    background-color: #f0f8ff;
}

.search_button {
    position: absolute;
    right: 0px;
    top: 50%;
    width: 50px;
    height: 45px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #87CEFA;
    transform: translateY(-50%);
}

.search_button:hover {
    background-color: #4682B4; 
}

.search_img {
    width: 20px; 
    height: 20px;
}

.form-container {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f0f8ff;
    color: #000000;
    border-radius: 8px;
    position: relative; 
    

}

.form-title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.form-section {
    margin-bottom: 20px;
    width: 22%;
    display: inline-block;
    vertical-align: top;
    margin-right: 3%;
    border: 1px solid #d3d3d3;
    border-radius: 8px;
    background-color: #f8f8f8; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    padding: 15px;
}

.form-section:nth-child(4n) {
    margin-right: 0; 
}

.form-section h2 {
    font-size: 18px;
    border-bottom: 1px solid #87CEFA;
    padding-bottom: 5px;
}

.form-group {
    margin: 10px 0;
}

.form-group label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    color: #4682B4;
}

.form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #87CEFA; 
    border-radius: 4px;
    background-color: #f0f8ff; 
    
}
.submit_button {
    position: absolute;
    right: 20px; 
    bottom: 20px; 
    width: 120px;
    height: 50px; 
    border: none;
    border-radius: 8px;
    background-color: #87CEFA; 
    color: #ffffff; 
    font-size: 18px; 
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.submit_button:hover {
    background-color: #4682B4; 
}
