.view-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #000; /* Black background */
}

.view-page h1 {
    color: #fff; /* White text color */
    font-size: 48px;
    font-weight: 700;
}
